body{
    margin: 0;
    box-sizing: border-box;
}
.root{
    background-color: aquamarine;
    display: grid;
    grid-template-columns: 3% 72% 22% 3%;
    font-family:'Tilt Neon', cursive; 
    width: 100%;
    height: 100vh;
    /* margin: 3% 0 0 0; */
}
.curr-video{
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: antiquewhite;
    /* font-family:'Rubik Iso', cursive; */
}
.video-toPlay{
    width: 100%;
    background-color: darkolivegreen;
    /* padding: 1%; */
    display: flex;
    flex-flow: column;
    align-items: center;
}
.video-list{
    background-color: cadetblue;
    grid-column-start: 3;
    grid-column-end: 4;
    overflow-y: scroll;
    padding: 3%;
    font-size: 50%;
    display: flex;
    flex-flow: column;
    align-items: center;
}
.vidios_toWatch{
    display: flex;
    flex-flow: column;
    align-items: center;
    /* border-radius:  7px; */
    /* border:solid black ; */
    margin-bottom: 2%;

}
.vidios_toWatch > video:hover{
    box-shadow: 5px 4px 10px 2px skyblue;
}